<div class="container-fluid bg-dark">
    <footer class="d-flex flex-wrap footerStyle justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0">© 2025 SoundVault - created by B.C. Daniel</p>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item">
                <a class="nav-link px-2" href="{{ path('offer') }}">Oferte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="{{ path('contact') }}">Contact</a>
            </li>
        </ul>
    </footer>
</div>
<div class="b-example-divider bg-dark"></div>